//styles
//=======================================================================

//styles.css
@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "modules/_large-hero";
@import "modules/_btn";
@import "modules/_wrapper";
@import "modules/_page-section";
@import "modules/_headline";
@import "modules/_row";
@import "modules/_generic-content-container";
@import "modules/_section-title";
@import "modules/_feature-item";
@import "modules/_testimonial";
@import "modules/_sprite";
@import "modules/_site-footer";
@import "modules/_site-header";
@import "modules/_primary-nav";
@import "modules/_reveal-item";
@import "modules/_modal";
@import "modules/_social-icons";

//base
//=======================================================================

//global.css
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}


//_mixins.css
//-----------------------------------------------------------------------
@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1010px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}


//_variables.css
//-----------------------------------------------------------------------
$mainBlue: #2f5572;
$mainOrange: #d59541;


//modules
//=======================================================================

//_btn.css
//-----------------------------------------------------------------------
.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}


//_feature-item.css
//-----------------------------------------------------------------------
.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;

    @mixin atSmall {
      text-align: left;
      margin-top: 1em;
      font-size: 1.875rem;
    }
  }
}


//_generic-content-container.css
//-----------------------------------------------------------------------
.generic-content-container {
  
  p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 1.125rem;
    }
  }

  p a {
    font-weight: 700;
  }

}


//_headline.css
//-----------------------------------------------------------------------
.headline {
  font-size: 1.9rem;
  font-weight: 300;
  color: $mainBlue;

  @mixin atSmall {
    font-size: 2.875rem;
  }

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }

  &--small {
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  &--b-margin-small {
    margin-bottom: .5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }
}


//_large-hero.css
//-----------------------------------------------------------------------
.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-top: 60px;
    }
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    margin: 0;
    font-size: 2.4rem;
  
    @mixin atSmall {
      font-size: 4.8rem;
    }

  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;

    @mixin atSmall {
      font-size: 2.9rem;
    }

  }

  &__description {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

}


//.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlue;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }
}

//_modal.css
//-----------------------------------------------------------------------
.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlue;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }
}


//_page-section.css
//-----------------------------------------------------------------------
.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }
  
  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @mixin atLarge {
      &.lazyloaded {
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }

}


//_primary-nav.css
//-----------------------------------------------------------------------
.primary-nav {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    @mixin atMedium {
      padding-right: 20px;
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba($mainBlue, .5);

    @mixin atMedium {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}


//_reveal-item.css
//-----------------------------------------------------------------------
.reveal-item {
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: scale(1.15);

  &--is-visible {
    opacity: 1;
    transform: scale(1);
  }
}


//_row.css
//-----------------------------------------------------------------------
.row {

  @mixin clearfix;

  &--t-padding {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }

  }

  @mixin atLarge {

    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }

  }
  
  /* Begin Equal Height Rules */
  .flexbox &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }

  }

  .flexbox &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }

  }

}


//_section-title.css
//-----------------------------------------------------------------------
.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 3.75rem;
  }

  strong {
    font-weight: 500;
  }

  &--blue {
    color: $mainBlue;
  }

  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      top: 8px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }

}


//_site-footer.css
//-----------------------------------------------------------------------
.site-footer {
  background-color: $mainBlue;
  color: #FFF;
  padding: .5rem 0;
  text-align: center;

  &__text {
    display: block;
    margin-bottom: 1rem;
    font-weight: 200;

    @mixin atMedium {
      display: inline;
      margin-bottom: 0;
      margin-right: 1.4rem;
    }
  }
}


//_site-header.css
//-----------------------------------------------------------------------
.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color .3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }
  
  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .3);

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transition: transform .3s ease-out;
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(.56);
      }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}


//_social-icons.css
//-----------------------------------------------------------------------
.social-icons {
  text-align: center;

  &__icon {
    background-color: $mainOrange;
    display: inline-block;
    margin: 0 5px 5px 5px;
    width: 33%;
    height: 72px;
    position: relative;

    @mixin atSmall {
      width: 72px;
      margin: 0 5px;
    }

    .icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


//
//-----------------------------------------------------------------------
/* Do not edit modules/_sprite directly as it is generated automatically 
by Gulp. Instead edit gulp/templates/sprite */

    .icon {
      background-image: url('/assets/images/sprites/sprite-8eb89099.svg');
    }

    .no-svg .icon {
      background-image: url('/assets/images/sprites/sprite-8eb89099.png');
    }

  .icon--clear-view-escapes {
    width: 144.4px;
    height: 61.53px;
    background-position: 0 0;
  }

  .icon--comment {
    width: 66px;
    height: 66px;
    background-position: 99.71014492753623% 0;
  }

  .icon--facebook {
    width: 23.23px;
    height: 44.01px;
    background-position: 26.424310365536293% 45.92133741323979%;
  }

  .icon--fire {
    width: 58px;
    height: 66px;
    background-position: 0 99.58035714285714%;
  }

  .icon--globe {
    width: 66px;
    height: 66px;
    background-position: 28.019323671497585% 99.58035714285714%;
  }

  .icon--instagram {
    width: 44.01px;
    height: 44.01px;
    background-position: 63.059522249879905% 49.25740726919919%;
  }

  .icon--mail {
    width: 66px;
    height: 50px;
    background-position: 0 48.0703125%;
  }

  .icon--rain {
    width: 66px;
    height: 66px;
    background-position: 99.71014492753623% 58.92857142857143%;
  }

  .icon--star {
    width: 66px;
    height: 66px;
    background-position: 59.90338164251208% 99.58035714285714%;
  }

  .icon--twitter {
    width: 53.78px;
    height: 44.06px;
    background-position: 94.15199343125627% 98.55159026429745%;
  }

  .icon--wifi {
    width: 62px;
    height: 66px;
    background-position: 68.43601895734596% 0;
  }

  .icon--youtube {
    width: 36.75px;
    height: 44px;
    background-position: 37.76931216931217% 45.917910447761194%;
  }

  
 //_testimonial.css
 //----------------------------------------------------------------------
 .testimonial {
  background-color: rgba(255, 255, 255, .8);
  padding: 0 18px 1px 18px;
  margin-bottom: 98px;

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    border-radius: 80px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, .8);
  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
  }
}


//_wrapper.css
//-----------------------------------------------------------------------
.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  &--narrow {
    max-width: 470px;
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }

}